@import "../../css/_variables.scss";

.login-card{
  width: 40%;
  margin: auto;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 15px;
  input{
    height: 35px;
  }
  input,button{
    width: 100%;
    display: block;
  }
  button{
    background-color: $color-blue;
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
