@font-face {
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-family: 'Roboto R';
  font-weight: 400;
}

@font-face {
  src: url("../assets/fonts/Poppins-Black.ttf");
  font-family: 'Poppins B';
}

@font-face {
  src: url("../assets/fonts/Pacifico-Regular.ttf");
  font-family: Pacifico;
}

@font-face {
  src: url("../assets/fonts/NunitoSans-Regular.ttf");
  font-face-name: Nunito;
  font-size: 16px;
}
